In [1]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Convert DataFrame to a two-dimensional list
two_dimensional_list = df.values.tolist()

# Print the two-dimensional list
print(two_dimensional_list)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [2]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Select column 'A' using dot notation
column_A = df.A

# Print the selected column
print(column_A)

0    1
1    2
2    3
Name: A, dtype: int64

In [3]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Select a single row by index
row = df.iloc[1]  # Selects the second row (index 1)
print(row)

# Select multiple rows by index
rows = df.iloc[1:3]  # Selects the second and third rows (index 1 and 2)
print(rows)

A    2
B    5
C    8
Name: 1, dtype: int64
   A  B  C
1  2  5  8
2  3  6  9

In [4]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]})
df2 = pd.DataFrame({'C': [7, 8, 9],
                    'D': [10, 11, 12]})

# Align the columns of the two DataFrames
aligned_df1, aligned_df2 = df1.align(df2, axis=1)

# Print the aligned DataFrames
print(aligned_df1)
print(aligned_df2)

   A  B   C   D
0  1  4 NaN NaN
1  2  5 NaN NaN
2  3  6 NaN NaN
    A   B  C   D
0 NaN NaN  7  10
1 NaN NaN  8  11
2 NaN NaN  9  12

In [5]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6]})

# Define a new sequence of row labels
new_index = ['a', 'b', 'c']

# Align the rows of the DataFrame using the new index
aligned_df = df.reindex(new_index)

# Print the aligned DataFrame
print(aligned_df)

    A   B
a NaN NaN
b NaN NaN
c NaN NaN

In [6]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6]})

# Create a new column by assigning a value or performing a calculation
df['new_column'] = [10, 20, 30]

# Print the updated DataFrame
print(df)

   A  B  new_column
0  1  4          10
1  2  5          20
2  3  6          30

In [7]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

# Create a new column by assigning a value or performing a calculation
df['new_column'] = [10, 20, 30]



# Print the selected column
print(df)

   A  B  C  new_column
0  1  4  7          10
1  2  5  8          20
2  3  6  9          30

In [8]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'],
                   'Age': [25, 30, 35],
                   'City': ['New York', 'London', 'Paris']})

# Create a new row
new_row = {'Name': 'Emily', 'Age': 27, 'City': 'Los Angeles'}

# Append the new row to the DataFrame
df = df.append(new_row, ignore_index=True)


# Print the updated DataFrame
print(df)

    Name  Age         City
0   John   25     New York
1  Alice   30       London
2    Bob   35        Paris
3  Emily   27  Los Angeles

C:\Users\PNT\AppData\Local\Temp\ipykernel_12284\1588536153.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [9]:
import pandas as pd
import numpy as np

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, None, 6],
                   'C': [7, 8, np.nan]})

# Replace specific values with NaN
df['B'].loc[1] = np.nan

# Print the DataFrame
print(df)

   A    B    C
0  1  4.0  7.0
1  2  NaN  8.0
2  3  6.0  NaN

C:\Users\PNT\AppData\Local\Temp\ipykernel_12284\3519756467.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['B'].loc[1] = np.nan

In [10]:
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, None, 6],
                   'C': [7, 8, np.nan]})

# Replace all missing values with a specific value
df.fillna(value=0, inplace=True)

# Print the DataFrame
print(df)

   A    B    C
0  1  4.0  7.0
1  2  0.0  8.0
2  3  6.0  0.0

In [11]:
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, None, 6],
                   'C': [7, 8, np.nan]})

# Replace specific values with NaN using 'replace()'
df.replace(to_replace=4, value=np.nan, inplace=True)

# Interpolate missing values using 'interpolate()'
df['C'].interpolate(inplace=True)

# Print the DataFrame
print(df)

   A    B    C
0  1  NaN  7.0
1  2  NaN  8.0
2  3  6.0  8.0

In [12]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B', 'C'],
                   'Value': [10, 15, 12, 8, 20]})

In [13]:
# Calculate the mean value by category
mean_value = df.groupby('Category')['Value'].mean()
print("Mean value by category:\n", mean_value)

# Calculate the sum of values by category
sum_value = df.groupby('Category')['Value'].sum()
print("Sum of values by category:\n", sum_value)

Mean value by category:
 Category
A    12.5
B    10.0
C    20.0
Name: Value, dtype: float64
Sum of values by category:
 Category
A    25
B    20
C    20
Name: Value, dtype: int64

In [14]:
# Find the minimum value by category
min_value = df.groupby('Category')['Value'].min()
print("Minimum value by category:\n", min_value)

# Find the maximum value by category
max_value = df.groupby('Category')['Value'].max()
print("Maximum value by category:\n", max_value)

# Count the occurrences of each category
count_category = df['Category'].value_counts()
print("Count of occurrences by category:\n", count_category)

Minimum value by category:
 Category
A    10
B     8
C    20
Name: Value, dtype: int64
Maximum value by category:
 Category
A    15
B    12
C    20
Name: Value, dtype: int64
Count of occurrences by category:
 A    2
B    2
C    1
Name: Category, dtype: int64